@import "tailwindcss";
@import "./base.css";

.sidebar-container {
  z-index: 1;
}
.sidebar-container::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url("@/assets/images/icons/robot.svg");
  background-repeat: no-repeat;
  position: absolute;
  inset-inline-start: 0;
  z-index: -1;
}
html[dir="ltr"] .sidebar-container::before {
  transform: rotateY(180deg);
}

.gradient-border {
  position: relative;
}
.gradient-border::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 14px;
  padding: 1px; /* border thickness */

  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
.gradient-title-orange {
  @apply py-4 px-5 rounded-2xl rtl:bg-gradient-to-r ltr:bg-gradient-to-l from-[#FF8E53] to-[#FF6B35] text-white font-medium mb-4;
}
