@import "tailwindcss";
@import "./base.css";

.sidebar-container {
  z-index: 1;
  position: relative;
}
.sidebar-container::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background-image: url("@/assets/images/icons/robot.svg");
  background-repeat: no-repeat;
  position: absolute;
  inset-inline-start: 0;
  z-index: -1;
}
html[dir="ltr"] .sidebar-container::before {
  transform: rotateY(180deg);
}

.gradient-border {
  position: relative;
}
.gradient-border::before {
  content: "";
  display: inline-block;
  position: absolute;
  inset: 0;
  border-radius: inherit;
  padding: 1px; /* border thickness */
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  pointer-events: none;
}
.gradient-border {
  @apply rtl:before:bg-linear-to-bl ltr:before:bg-linear-to-br before:from-[#895AF7]/50 before:to-[#06B6D4]/0 rounded-[14px];
}
.primary-text-gradient {
  @apply text-transparent bg-clip-text rtl:bg-linear-to-r ltr:bg-linear-to-l from-[#06B6D4] via-[#3B82F6] to-[#8B5CF6] max-w-fit;
}
.secondery-text-gradient {
  @apply text-transparent bg-clip-text rtl:bg-linear-to-r ltr:bg-linear-to-l from-[#06B6D4] via-[#3B82F6] to-[#FF6B35] max-w-fit;
}

.gradient-orange {
  @apply rtl:bg-linear-to-r ltr:bg-linear-to-l from-[#FF8E53] to-[#FF6B35];
}
.gradient-purple {
  @apply rtl:bg-linear-to-r ltr:bg-linear-to-l from-[#06B6D4] via-[#3B82F6] to-[#7F4FFF];
}
.gradient-sky-blue {
  @apply rtl:bg-linear-to-bl ltr:bg-linear-to-br from-[#895AF7]/12 via-[#06B6D4]/5 to-[#503591]/0;
}
.white-border {
  @apply border border-white/10;
}
.sidebar-gradient-title {
  @apply uppercase tracking-wider font-bold text-xl mb-4;
}
.badge-percentage {
  @apply px-2 py-1 rounded-full rtl:bg-linear-to-r ltr:bg-linear-to-l from-[#06B6D4] via-[#3B82F6] to-[#FF6B35] text-white shadow-sm;
}
